services:
  db:
    image: postgres:15-alpine
    container_name: ms_pagos_db
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432" 
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: